body {
    background-color: white;
    color: black;
    max-width: 600px;
    margin: auto;
    font-family: sans-serif;
}
article + article {
    margin-top: 5rem;
    border-top: 1px solid #cfcfcf;
    padding-top: 2rem;
}
p {
    line-height: 1.6rem;
}
